In [5]:
import pandas as pd
df=pd.read_csv(r"C:\Users\juwer\OneDrive\Desktop\projects\used_cars_cardekhot.csv")
df

,Car Name,Brand,Location,Price (INR),Fuel Type,Transmission,Km Driven,Manufacture Year
0,2023 Audi Q3Premium Plus BSVI,Audi,Maharashtra,3800000,Petrol,Automatic,18000,2023
1,2023 Maruti Alto K10VXI,Maruti,Maharashtra,430000,Petrol,Manual,6200,2023
2,2022 Hyundai CretaEX BSVI,Hyundai,Maharashtra,1050000,Petrol,Manual,58000,2022
3,2016 Maruti ErtigaBSIV VXI,Maruti,Maharashtra,640000,Petrol,Manual,26640,2016
4,2023 Hyundai ExterSX CNG 4 Cylinder,Hyundai,Maharashtra,890000,Cng,Manual,30000,2023
...,...,...,...,...,...,...,...,...
295,2024 Toyota TaisorG Turbo,Toyota,West Bengal,831000,Petrol,Manual,19113,2024
296,2023 Audi Q3Premium Plus BSVI,Audi,West Bengal,3800000,Petrol,Automatic,18000,2023
297,2022 Tata PunchAdventure,Tata,Delhi,590000,Petrol,Manual,55000,2022
298,2023 Hyundai VenueS Opt BSVI,Hyundai,West Bengal,799000,Petrol,Manual,13000,2023
299,2023 Renault KWID1.0 CLIMBER AMT,Renault,West Bengal,550000,Petrol,Automatic,12048,2023

In [6]:
df.isna().sum()

Car Name            0
Brand               0
Location            0
Price (INR)         0
Fuel Type           0
Transmission        0
Km Driven           0
Manufacture Year    0
dtype: int64

In [13]:
duplicate_count = df.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 14

In [14]:
df=df.drop_duplicates()

In [15]:
df

,Car Name,Brand,Location,Price (INR),Fuel Type,Transmission,Km Driven,Manufacture Year
0,2023 Audi Q3Premium Plus BSVI,Audi,Maharashtra,3800000,Petrol,Automatic,18000,2023
1,2023 Maruti Alto K10VXI,Maruti,Maharashtra,430000,Petrol,Manual,6200,2023
2,2022 Hyundai CretaEX BSVI,Hyundai,Maharashtra,1050000,Petrol,Manual,58000,2022
3,2016 Maruti ErtigaBSIV VXI,Maruti,Maharashtra,640000,Petrol,Manual,26640,2016
4,2023 Hyundai ExterSX CNG 4 Cylinder,Hyundai,Maharashtra,890000,Cng,Manual,30000,2023
...,...,...,...,...,...,...,...,...
294,2024 Kia SonetHTK Plus Diesel,Kia,West Bengal,1080000,Diesel,Manual,17735,2024
295,2024 Toyota TaisorG Turbo,Toyota,West Bengal,831000,Petrol,Manual,19113,2024
296,2023 Audi Q3Premium Plus BSVI,Audi,West Bengal,3800000,Petrol,Automatic,18000,2023
298,2023 Hyundai VenueS Opt BSVI,Hyundai,West Bengal,799000,Petrol,Manual,13000,2023
299,2023 Renault KWID1.0 CLIMBER AMT,Renault,West Bengal,550000,Petrol,Automatic,12048,2023

In [17]:
df.dtypes

Car Name            object
Brand               object
Location            object
Price (INR)          int64
Fuel Type           object
Transmission        object
Km Driven            int64
Manufacture Year     int64
dtype: object

In [18]:
df.columns=df.columns.str.upper()

In [19]:
df.to_excel("cardekho.xlsx", index=False)
print(" Data saved to cardekho.xls")

 Data saved to cardekho.xls

In [20]:
df

,CAR NAME,BRAND,LOCATION,PRICE (INR),FUEL TYPE,TRANSMISSION,KM DRIVEN,MANUFACTURE YEAR
0,2023 Audi Q3Premium Plus BSVI,Audi,Maharashtra,3800000,Petrol,Automatic,18000,2023
1,2023 Maruti Alto K10VXI,Maruti,Maharashtra,430000,Petrol,Manual,6200,2023
2,2022 Hyundai CretaEX BSVI,Hyundai,Maharashtra,1050000,Petrol,Manual,58000,2022
3,2016 Maruti ErtigaBSIV VXI,Maruti,Maharashtra,640000,Petrol,Manual,26640,2016
4,2023 Hyundai ExterSX CNG 4 Cylinder,Hyundai,Maharashtra,890000,Cng,Manual,30000,2023
...,...,...,...,...,...,...,...,...
294,2024 Kia SonetHTK Plus Diesel,Kia,West Bengal,1080000,Diesel,Manual,17735,2024
295,2024 Toyota TaisorG Turbo,Toyota,West Bengal,831000,Petrol,Manual,19113,2024
296,2023 Audi Q3Premium Plus BSVI,Audi,West Bengal,3800000,Petrol,Automatic,18000,2023
298,2023 Hyundai VenueS Opt BSVI,Hyundai,West Bengal,799000,Petrol,Manual,13000,2023
299,2023 Renault KWID1.0 CLIMBER AMT,Renault,West Bengal,550000,Petrol,Automatic,12048,2023